<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "http://localhost:5000/login" method = "POST">
        <p>이름 <input type = "id" name = "id" /></p>
        <p>소프트웨어공학 <input type = "password" name = "password" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
    <button type="button" class="navyBtn" onClick="location.href='http://localhost:5000/signup'">signup</button>
</body>
</html>