<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <p>{{id}}</p>
    <p>{{id}}'s diary</p>
    <p><a href="http://localhost:5000/post" class="underline font-semibold">Write your own diary!</a></p>
    <b><a href = '/logout'>click here to log out</a></b><br>

    {% for item1 in output %}
        <form action="http://localhost:5000/edit">
            <p>{{item1}}</p>
            <img src={{item1.profile_image_name}} width="200"><br>
            <input type="submit" value="Edit My Diary"/>
            <br>
        </form>
    {% endfor %}
</body>
</html>



