<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
        #item {
            width: 200px;
            float: left;
        }
        #item2 {
            width: 400px;
            float: left;
        }
    </style>
</head>
<body>
    <div id="item">LogIn ID: {{id}}</div>
    <div id="item">{{name}}'s diary</div>
    <div id="item"><a href="http://localhost:5000/post" class="underline font-semibold">Write your own diary!</a></div>
    <div id="item"><a href = '/logout'>click here to log out</a></div>
    <br><br><br>

    {% for item1 in output %}
        <form name="form" style="border: 1px  black;">
            <div id="item">Title: {{item1.title}}</div>
            <div id="item2">Date: {{item1.date}}</div><br><br>
            <img src={{item1.profile_image_name}} alt={{item1.description}} width="150" style="vertical-align:middle;" >
                <span style="margin-top:20px;font-size:18px;" >{{item1.description}}</span>

            
            <input type = "hidden" id = "id" name = "id" value = {{item1.id}} />
            <input type = "hidden" id = "title" name = "title" value = {{item1.title}} />
            <!--<input type = "hidden" id = "description" name = "description" value = {{item1.description}} />
            <input type = "hidden" id = "profile_image_name" name = "profile_image_name" value = {{item1.profile_image_name}} />-->
            <input type="submit" value="Edit My Diary" formmethod="GET" onclick="javascript: form.action='/edit';"/>
            <input type="submit" value="Delete My Diary" formmethod="POST" onclick="javascript: form.action='/delete';"/>
            <br><br>
        </form>
        <br>
    {% endfor %}
</body>
</html>



